@font-face {
    font-family: "GretaSansPro-Reg";
    src: url("../font/GretaSansPro-Reg.otf");
}

@font-face {
    font-family: "GretaSansPro-Bld";
    src: url("../font/GretaSansPro-Bld.otf");
}

@font-face {
    font-family: "GretaSansPro-SmBld";
    src: url("../font/GretaSansPro-SmBld.otf");
}

html {
	font-size: 24px;
	overflow-x: hidden;
	width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}


body {
	margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.title {
	display: flex;
	font-family: "GretaSansPro-Bld";
	font-size: 1rem;
	margin-bottom: 10px;

}

.content {
	display: flex;
	height: 85vh;
	max-height: 85vh;
}

.leftside {
	margin-right: 15px;
}

.logo {
	
}

.rightside {
	width: 30%;
	height: 85vh;
}

.content .leftside img {
	display: block;
	width: 100%;
	height: auto;
}

.content .rightside .logo img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	padding-bottom: 10px;
}

.content .rightside .photo img {
    max-height: 100%;
    max-width: 100%;
	display: block;
	width: 100%;
}

.photo {
max-width: 100%;
min-width: 20px;
}

.desc {
	display: flex;
    flex-direction: column;
}

.subtitle {
	font-family: "GretaSansPro-Reg";
	padding-top: 15px;
	font-size: 1rem;
}

.subtitle .sm-bold{
	font-family: "GretaSansPro-SmBld";
	font-size: 1rem;
}

.area-button {
	padding-top: 20px;
	display: flex;
	max-height: 126px;
}

.area-button .no:active {
	outline: none;
	border-color: #f45b69;

}

.area-button .yes:active {
	outline: none;
	border-color: rgba(174, 217, 87, 1);

}

.area-button button:focus {
	outline: none;
}


.area-button .yes:active {
background-color: rgba(174, 217, 87, 1);
}

.area-button .no:active {
background-color: rgba(208, 77, 89, 1);
}

.yes {
	width: 55%;
	margin-right: 5%;
	font-family: "GretaSansPro-Reg";
	font-size: 1rem;
	background-color: #f5fff7;
	border: 1px solid;
	border-color: #d6fdde;
	cursor: pointer;
	height: 50px;
}

.yes:hover {
	background-color: rgba(174, 217, 87, .5);
}

.no {
	width: 40%;
	font-family: "GretaSansPro-Reg";
	font-size: 1rem;
	background-color: #fef8f8;
	border: 1px solid;
	border-color: #fde1e1;
	cursor: pointer;
	height: 50px;
}

.no:hover {
	background-color: rgba(208, 77, 89, .5);
}

@media screen and (max-width: 1000px) { 

html {
font-size: 18px;
}

}


@media screen and (max-width: 700px) { 

html {
font-size: 14px;
}

.title {
	margin-bottom: 5px;
}

.leftside {
	margin-right: 10px;
}

.content .rightside .logo img {
	padding-bottom: 5px;
}

.subtitle, .area-button {
	padding-top: 5px;
}

}


@media screen and (max-width: 700px) {  

html {
font-size: 12px;
}

.yes, .no {
	width: 50%;
	height: 25px;
}

}
