@font-face {
    font-family: "GraphikLCG-Bold";
    src: url("../font/GraphikLCG-Bold.otf");
}

@font-face {
    font-family: "GraphikLCG-Regular";
    src: url("../font/GraphikLCG-Regular.otf");
}




html {
	font-size: 16px;
	font-family: "GraphikLCG-Regular";
	overflow: hidden;
}

body {
	margin: 0;
}

a {
	color: rgba(69, 105, 144, 1);
	text-decoration: underline;
	text-decoration-color: rgba(69, 105, 144, .3);
}

a:hover {
	color: rgba(244, 91, 105, 1);
	text-decoration: underline;
	text-decoration-color: rgba(244, 91, 105, 1);
}


.block-content{
	display: flex;
}

.block-content .people {
    position: absolute;
    top: 10px;
    left: 30px;
}

.block-content .people .rec {
	width: 40px;
	height: 40px;
	border:1px solid;
	border-color: #00ff37;
}

.block-content .people .sub {
	background-color: rgba(0,0,0,.4);
	width: fit-content;
	padding-top:5px;
	padding-bottom: 5px;
	padding-right: 5px;
	color: #00ff37;
	font-size: 0.625rem;
	font-family: "GraphikLCG-Regular";
}

.leftside {
	width: 70%;
	max-height: 100vh;
}

.leftside  .video {
    overflow: hidden;
}

.leftside  .video .camera {
    width: 100%;
    max-height: 100vh;
}

.rightside {
	width:30%;
	height: 100vh;
    overflow-y: scroll;
    margin-left: 30px;
    margin-right: 10px;
}


.rightside .people-card:nth-child(1) {
	padding-top: 22px;
}

.rightside .people-card {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.rightside .people-card .photo {
	padding-right: 8px;
	min-width: 95px;
	min-height: 95px;
	max-width: 95px;
	max-height: 95px;
}

.rightside .people-card .photo:hover ~ .initials .surname a{
	color: rgba(244, 91, 105, 1);
	text-decoration: underline;
	text-decoration-color: rgba(244, 91, 105, 1);
}

.rightside .people-card .photo img {
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
}

.rightside .people-card .surname {
	font-family: "GraphikLCG-Bold";
	font-size: 1rem;
	padding-bottom: 5px;
}

.rightside .people-card .name {
	font-family: "GraphikLCG-Regular";
	font-size: 0.875rem;
	padding-bottom: 10px;
}

.rightside .people-card .info {
	font-family: "GraphikLCG-Regular";
	font-size: 0.875rem;
	color: #878787;
}


@media (min-width: 768px) and (max-width: 1024px) {
  
html {
	font-size: 14px;
}


.rightside {
    margin-left: 15px;
    margin-right: 10px;
}


.rightside .people-card:nth-child(1) {
	padding-top: 15px;
}

.rightside .people-card {
    padding-bottom: 15px;
}

.rightside .people-card .photo {
	padding-right: 8px;
	min-width: 60px;
	min-height: 60px;
	max-width: 60px;
	max-height: 60px;
}


  
}


@media (min-width: 250px) and (max-width: 767px){
  
 .rightside {
 	margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


.rightside .people-card {
	padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px
}

.rightside .people-card .photo {
	padding-right: 8px;
	min-width: 60px;
	min-height: 60px;
	max-width: 60px;
	max-height: 60px;
}

.block-content {
	flex-direction: column;
}

.leftside {
	width: unset;
    max-height: 40vh;
}

.leftside .video .camera {
	width: 100%;
	max-width: 100%;
	max-height: 40vh;
}

.rightside {
	width: 100%;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
}

.rightside .people-card:nth-child(1) {
	padding-top: 10px;
}

.rightside .people-card {
	padding-top: 10px;
	width: 250px;
}
  
}

@media (min-width: 50px) and (max-width: 249px){
  

html {
	font-size: 8px;
}

.rightside .people-card {
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px
}

.rightside .people-card .photo {
	padding-right: 5px;
	min-width: 40px;
	min-height: 40px;
	max-width: 40px;
	max-height: 40px;
}

.block-content {
	flex-direction: column;
}

.leftside {
	width: unset;
    max-height: 40vh;
}

.leftside .video .camera {
	width: 100%;
	max-width: 100%;
	max-height: 40vh;
}

.rightside {
	width: 100%;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.rightside .people-card:nth-child(1) {
	padding-top: 5px;
}

.rightside .people-card {
	padding-top: 5px;
	width: 150px;
}
  
}


@media (min-width: 250px) and (max-width: 767px) and (orientation: landscape) {

html {
	font-size: 14px;
}
 .rightside {
 	margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


.rightside .people-card {
	padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px
}

.rightside .people-card .photo {
	padding-right: 8px;
	min-width: 60px;
	min-height: 60px;
	max-width: 60px;
	max-height: 60px;
}

.block-content {
	flex-direction: row;
}

.leftside {
	width: 50%;
    max-height: 100vh;
}

.leftside .video .camera {
	width: 100%;
	max-width: 100%;
	max-height: 100vh;
}

.rightside {
	width: 50%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.rightside .people-card:nth-child(1) {
	padding-top: 10px;
}

.rightside .people-card {
	padding-top: 10px;
	width: 250px;
}
  
}
}







